<form action="/dashboard/addpoilist" method="POST">
  <div class="field">
    <label class="label">Point of Interest Title</label> <input class="input" type="text" placeholder="Enter Point of Interest title" name="title">
  </div>
  <button class="button is-link">Add Point of Interest</button>
</form>
