<form class="box" action="/poilist/{{poilist._id}}/addFeature" method="POST">
  <label>Enter Feature Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Location (latitude/Longitude)" name="location">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Category" name="category">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Feature</button>
</form>