<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Description</th>
      <th>Location</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    {{#each poilist.features}}
      <tr>
        <td>
          {{description}}
        </td>
        <td>
          {{location}}
        </td>
        <td>
          {{category}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>